/*	Theme's secondary color: ORANGE

orange 1 - #f78534 / rgb(247, 133, 52)
orange 2 - #ffbc8c / rgb(255, 188, 140)
orange 3 - #e5660b / rgb(229, 102, 11)
*/


/*-----------------------------------------------------------------------------------*/
/*	Orange 1 - #f78534 / rgb(247, 133, 52)
/*-----------------------------------------------------------------------------------*/

/* Typography */
.pullquote .pullquote-stat .out-of-number {
	color: #f78534;
}
a.text-secondary-color:hover {
	color: #f78534 !important;
}
a.read-more-link.text-secondary-color:hover::after {
	color: #f78534;
}
.dark-colored-bg a.read-more-link.text-secondary-color:hover::after {
	color: #f78534;
}

/* Buttons */
.button.button-colored {
	background-color: #f78534;
	border-color: #f78534;
}
.button.button-colored.play-icon::before {
	border-color: #f78534;
}
.button.button-colored.play-icon::after {
	border-left-color: #f78534;
}
.button.button-colored.play-icon:hover::before {
	background-color: #f78534;
}

/* Header Menu */
#primary-nav .sf-arrows ul .sf-with-ul:hover::after,
#primary-nav ul ul li.sfHover > .sf-with-ul::after {
	color: #f78534;
}

/* Stripe Sections */
.stripe-secondary-color-bg > .stripe-upper-bg {
	background-color: rgba(247, 133, 52, 0.65); /* #f78534 */
}

/* Picture Boxes */
.no-touch-screen .picture-boxes.top-picture-box.box-filled-bg.picture-image a:hover .box-wrapper {
	-webkit-box-shadow: 0 0 5px #f78534;
	        box-shadow: 0 0 5px #f78534;
}

/* Icon Boxes */
.icon-boxes.top-icon-box.icon-large-round-bg .box-icon {
	background-color: #f78534;
}
.icon-boxes.top-icon-box.icon-large-round-bg .box-icon.secondary-color-bg,
.icon-boxes.top-icon-box.icon-medium-round-bg .box-icon.secondary-color-bg {
	background-color: #f78534;
}
.icon-boxes.top-icon-box.icon-large-round-bg.number-icon-box .box-icon.primary-color-bg .digit,
.icon-boxes.top-icon-box.icon-medium-round-bg.number-icon-box .box-icon.primary-color-bg .digit {
	background-color: rgba(247, 133, 52, 0.8); /* #f78534 */
}
.icon-boxes.top-icon-box.icon-large .box-icon.secondary-color i,
.icon-boxes.top-icon-box.icon-small .box-icon.secondary-color i,
.icon-boxes.top-icon-box.box-filled-bg .box-icon.secondary-color i {
	color: #f78534;
}
.icon-boxes.left-icon-box.icon-small-round-bg .box-icon {
	background-color: #f78534;
}
.icon-boxes.left-icon-box.icon-small-round-bg .box-icon.secondary-color-bg {
	background-color: #f78534;
}
.icon-boxes.left-icon-box.icon-large .box-icon.secondary-color i,
.icon-boxes.left-icon-box.icon-medium .box-icon.secondary-color i,
.icon-boxes.left-icon-box.icon-heading .box-icon.secondary-color i {
	color: #f78534;
}

/* Stages */
.stages .box-icon.secondary-color-bg {
	background-color: #f78534;
}

/* Feature List */
.feature-list.numeric-list .box-icon {
	background-color: #f78534;
}
.feature-list.numeric-list .box-icon.secondary-color-bg {
	background-color: #f78534;
}
.feature-list.dot-list .box-icon.secondary-color-bg {
	background-color: #f78534;
}
.feature-list.check-list .box-icon {
	border-color: #f78534;
}
.feature-list.check-list .box-icon.secondary-color-bg {
	border-color: #f78534;
}
.feature-list.check-list .box-icon i,
.feature-list.check-list .box-icon.secondary-color-bg i {
	color: #f78534;
}
.feature-list.arrow-list .box-icon.secondary-color i {
	color: #f78534;
}

/* Preview Image List (Image Grid) */
.preview-image-list.gallery-standard .gallery-item::after {
	background-color: rgba(247, 133, 52, 0.9); /* #f78534 */
}

/* Testimonials */
.stripe-secondary-color-bg .testimonial-main-style-1 .testimonial-item .testimonial-image figure::after {
	background-color: rgba(247, 133, 52, 0.05); /* #f78534 */
}

/* Staff */
.staff .box-text .fa-icon-list li a {
	color: #f78534;
}

/* Tabs */
.tabs .tabs-nav .tabs-list li.active a {
	border-bottom-color: #f78534;
}
.tabs-full-width .tabs-nav .tabs-list li.active a {
	border-bottom-color: #f78534;
}

/* Stat Data */
.stat-data > article .fact-number {
	color: #f78534;
}

/* Blog */
.blog-list-layout article .post-meta a:hover {
	color: #f78534;
}
.blog-grid-layout article .post-category a:hover {
	color: #f78534;
}

/* Standard Table */
.stripe-secondary-color-bg table th,
.stripe-secondary-color-bg table thead td {
	border-right-color: rgba(247, 133, 52, 0.7); /* #f78534 */
}
.stripe-secondary-color-bg table td {
	border-color: rgba(247, 133, 52, 0.7); /* #f78534 */
}

/* Pricing Table */
.pricing-table .footer .button.button-colored {
	color: #f78534;
	border-color: #f78534;
}
.pricing-table .footer .button.button-colored:hover {
	background-color: #f78534;
}
.pricing-table .featured .header {
	background-color: #f78534;
	border-color: #f78534;
}
.pricing-table .table-column.featured:first-child .header {
	border-left-color: #f78534;
}
.pricing-table .table-column.featured:last-child .header {
	border-right-color: #f78534;
}
.pricing-table .featured .features {
	border-left-color: #f78534;
	border-right-color: #f78534;
}
.pricing-table .table-column.featured:first-child .features {
	border-left-color: #f78534;
}
.pricing-table .table-column.featured:last-child .features {
	border-right-color: #f78534;
}
.pricing-table .featured .footer {
	border-color: #f78534;
}
.pricing-table .table-column.featured:first-child .footer {
	border-left-color: #f78534;
}
.pricing-table .featured .header.empty-price-row .price {
	background: #f78534;
}
@media (min-width: 480px) and (max-width: 767px) {
	.pricing-table.bUKSIC .table-column.featured:nth-child(odd) .header,
	.pricing-table.bUKSIC .table-column.featured:nth-child(odd) .features,
	.pricing-table.extended .table-column.featured:nth-child(even) .header,
	.pricing-table.extended .table-column.featured:nth-child(even) .features {
		border-left-color: #f78534;
	}
	.pricing-table.bUKSIC .table-column.featured:nth-child(even) .header,
	.pricing-table.bUKSIC .table-column.featured:nth-child(even) .features,
	.pricing-table.extended .table-column.featured:nth-child(odd) .header,
	.pricing-table.extended .table-column.featured:nth-child(odd) .features {
		border-right-color: #f78534;
	}
	.pricing-table.extended .table-column.row-labels + .table-column.featured .footer {
		border-left-color: #f78534;
	}
}
@media (max-width: 479px) {
	.pricing-table .featured .header,
	.pricing-table .featured .features {
		border-left-color: #f78534 !important;
		border-right-color: #f78534 !important;
	}
}

/* Sidebar */
#sidebar .widget-text-block .button.button-colored {
	color: #f78534;
	border-color: #f78534;
}
#sidebar .widget-text-block .button.button-colored:hover {
	background-color: #f78534;
}
#sidebar .widget-stats.secondary-color-bg .stat-data {
	background-color: rgba(247, 133, 52, 0.65); /* #f78534 */
}


/*-----------------------------------------------------------------------------------*/
/*	Orange 2 - #ffbc8c / rgb(255, 188, 140)
/*-----------------------------------------------------------------------------------*/

/* Typography */
.dark-colored-bg .text-secondary-color {
	color: #ffbc8c !important;
}
blockquote {
	border-left-color: rgba(255, 188, 140, 0.5); /* #ffbc8c */
}
.dark-colored-bg .pullquote .pullquote-stat .out-of-number {
	color: #ffbc8c;
}
p.text-white a:hover,
ul.text-white a:hover,
ol.text-white a:hover {
	color: #ffbc8c;
}
.dark-colored-bg a.read-more-link.text-secondary-color::after {
	color: #ffbc8c;
}

/* Buttons */
.dark-colored-bg .button.button-colored {
	background-color: rgba(255, 188, 140, 0.7); /* #ffbc8c */
}
.dark-colored-bg .button.button-colored:hover {
	background-color: rgba(255, 188, 140, 0.8); /* #ffbc8c */
}
.dark-colored-bg .button.button-colored.play-icon::before {
	border-color: #ffbc8c;
}
.dark-colored-bg .button.button-colored.play-icon::after {
	border-left-color: #ffbc8c;
}
.dark-colored-bg .button.button-colored.play-icon:hover::before {
	background-color: #ffbc8c;
}

/* Header Menu */
#primary-nav > ul > li:not(.button-item).current-menu-item > a,
#primary-nav > ul > li:not(.button-item).top-current-menu-ancestor > a,
#primary-nav > ul > li:not(.button-item).current-menu-item > a:hover,
#primary-nav > ul > li:not(.button-item).top-current-menu-ancestor > a:hover {
	color: #ffbc8c;
}
#primary-nav .sf-mega-section h6 {
	border-bottom-color: #ffbc8c;
}
.sidr ul li.sidr-class-current-menu-item > a,
.sidr ul ul li.sidr-class-current-menu-item a::before,
.sidr ul li.sidr-class-current-menu-ancestor > a,
.sidr ul ul li.sidr-class-current-menu-ancestor > a::before {
	color: #ffbc8c;
}

/* Homepage Hero */
#home-slider .slide .button:not(.button-medium):not(.play-icon).button-colored::after {
	border-left-color: #ffbc8c;
}
#home-slider .slide .button-medium.button-colored {
	background-color: rgba(255, 188, 140, 0.2); /* #ffbc8c */
	border-color: #ffbc8c;
}
#home-slider .slide .button-colored.play-icon::before {
	border-color: #ffbc8c;
}
#home-slider .slide .button-colored.play-icon::after {
	border-left-color: #ffbc8c;
}
#home-slider .slide .button-colored.play-icon:hover::before {
	background-color: #ffbc8c;
}
#home-slider .slide a.text-secondary-color:not(.button) {
	color: #ffbc8c !important;
}
#home-slider .cycle-pager span.cycle-pager-active {
	background-color: #ffbc8c;
}

/* Hero Image & Page Title */
#hero-image .page-title .post-category a {
	color: #ffbc8c;
}

/* Picture Boxes */
.no-touch-screen .picture-boxes.top-picture-box.box-filled-bg.picture-icon a:hover .box-wrapper {
	background-color: rgba(255, 188, 140, 0.4); /* #ffbc8c */
}
.no-touch-screen .picture-boxes.left-picture-box.box-filled-bg.picture-icon a:hover .box-wrapper {
	border-color: #ffbc8c;
}

/* Icon Boxes */
.icon-boxes.top-icon-box.icon-large-round-bg .box-icon::before {
	border-color: rgba(255, 188, 140, 0.5); /* #ffbc8c */
}
.icon-boxes.top-icon-box.icon-large-round-bg .box-icon.secondary-color-bg::before,
.icon-boxes.top-icon-box.icon-medium-round-bg .box-icon.secondary-color-bg::before {
	border-color: rgba(255, 188, 140, 0.5); /* #ffbc8c */
}
.no-touch-screen .icon-boxes.top-icon-box.box-filled-bg a:hover .box-wrapper {
	border-color: #ffbc8c;
}

/* Stages */
.stages article::before {
	background-color: rgba(255, 188, 140, 0.5); /* #ffbc8c */
}
.stages .box-icon.secondary-color-bg::before {
	border-color: rgba(255, 188, 140, 0.5); /* #ffbc8c */
}

/* Carousel Plugin */
.owl-carousel.image-slider .owl-nav [class*='owl-']:hover {
	background-color: rgba(255, 188, 140, 0.5); /* #ffbc8c */
}

/* Info Box */
.info-box.info-sign::before,
.info-box.quote-sign::before {
	color: rgba(255, 188, 140, 0.5); /* #ffbc8c */
}

/* Testimonials */
.testimonial-boxes .columns::after {
	color: rgba(255, 188, 140, 0.07); /* #ffbc8c */
}
.stripe-secondary-color-bg .testimonial-boxes .columns::after {
	color: rgba(255, 188, 140, 0.07); /* #ffbc8c */
}
.dark-colored-bg .testimonial-main-style-1 .testimonial-item .author-info,
.dark-colored-bg .testimonial-main-style-1 .testimonial-item .author-info span {
	color: #ffbc8c;
}
.dark-colored-bg .testimonial-main-style-2 .testimonial-item .author-info,
.dark-colored-bg .testimonial-main-style-2 .testimonial-item .author-info span {
	color: #ffbc8c;
}

/* Staff */
.staff .box-text .contact-phone .phone-number,
.staff .box-text .contact-email a {
	background-color: rgba(255, 188, 140, 0.2); /* #ffbc8c */
}

/* Stat Data */
.dark-colored-bg .stat-data .fact-title .title {
	color: #ffbc8c;
}

/* Single Post */
.single-post-details .post-share {
	border-top-color: rgba(255, 188, 140, 0.5); /* #ffbc8c */
}
.single-post-details .post-tags:not(:first-child) {
	border-top-color: rgba(255, 188, 140, 0.5); /* #ffbc8c */
}

/* Twitter Feed */
.dark-colored-bg .twitter-feed-wrapper .twitter-feed .tweet_text a:hover {
	color: #ffbc8c;
}

/* Standard Table */
.dark-colored-bg table td .fa {
	color: #ffbc8c;
}

/* Pricing Table */
.pricing-table .featured .price {
	background-image: -webkit-linear-gradient(left, rgba(255, 188, 140, 0.2), rgba(255, 188, 140, 0.2));
	background-image: -o-linear-gradient(left, rgba(255, 188, 140, 0.2), rgba(255, 188, 140, 0.2));
	background-image: linear-gradient(to right, rgba(255, 188, 140, 0.2), rgba(255, 188, 140, 0.2)); /* #ffbc8c */
}
.pricing-table .featured .footer {
	background-color: rgba(255, 188, 140, 0.2); /* #ffbc8c */
}

/* Preview Image Overlay & Lightbox Overlay */
.video-preview .overlay {
	background-color: rgba(255, 188, 140, 0.1); /* #ffbc8c */
}

/* Forms */
#page-content .contact-form input[type="text"]:focus,
#page-content .contact-form input[type="email"]:focus,
#page-content .contact-form input[type="url"]:focus,
#page-content .contact-form textarea:focus,
#page-content .contact-form div.error > textarea:focus {
	border-bottom-color: #ffbc8c;
}

/* Sidebar */
#sidebar .widget.title-underline .widget-title::before {
	border-top-color: #ffbc8c;
}
#sidebar .widget-banner .banner-text .banner-description .banner-link {
	color: #ffbc8c;
}

/* Typography */
.divider-line.colored-divider {
	border-bottom-color: rgba(255, 188, 140, 0.5); /* #ffbc8c */
}
.divider-dotline.colored-divider {
	border-bottom-color: #ffbc8c;
}

/* Other Elements and Misc. */
.error-404 {
	color: rgba(255, 188, 140, 0.3); /* #ffbc8c */
}


/*-----------------------------------------------------------------------------------*/
/*	Orange 3 - #e5660b / rgb(229, 102, 11)
/*-----------------------------------------------------------------------------------*/

/* Typography */
.text-secondary-color {
	color: #e5660b !important;
}
a.read-more-link.text-secondary-color::after {
	color: #e5660b;
}

/* Buttons */
.button.button-colored:hover {
	background-color: #e5660b;
	border-color: #e5660b;
}
.button.button-colored.play-icon {
	color: #e5660b;
}
.button.button-colored.play-icon:hover {
	color: #e5660b;
}

/* Picture Boxes */
.picture-boxes.top-picture-box.box-filled-bg .box-text .read-more-link.text-secondary-color {
	border-bottom-color: #e5660b;
}
.picture-boxes.left-picture-box.box-filled-bg.picture-icon .box-text .read-more-link.text-secondary-color {
	border-bottom-color: #e5660b;
}
.picture-boxes.left-picture-box.box-filled-bg.picture-image .box-text .subtitle {
	color: #e5660b;
}

/* Staff */
.staff .box-text .fa-icon-list li a:hover {
	color: #e5660b;
}
.staff-member-profile .profile-header .subtitle {
	color: #e5660b;
}

/* Stat Data */
.stat-data .fact-title .title {
	color: #e5660b;
}

/* Blog */
.blog-list-layout article .post-meta a {
	color: #e5660b;
}
.blog-grid-layout article .post-category a {
	color: #e5660b;
}

/* Sidebar */
@media (min-width: 992px) {
	.side-menu > li.current-menu-item > a,
	.side-menu > li.current-menu-ancestor > a {
		color: #e5660b;
	}
	.side-menu > li.current-menu-item::before,
	.side-menu > li.current-menu-ancestor::before {
		color: #e5660b;
	}
}
#sidebar .widget-banner.secondary-color-bg::before {
	background-color: #e5660b;
}
#sidebar .widget-banner.secondary-color-bg .banner-text .banner-description::before {
	background-color: rgba(229, 102, 11, 0.5); /* #e5660b */
}

/* Footer */
#footer .fa-icon-list li a {
	color: #e5660b;
}

/* Typography */
.highlight-dashline {
	border-bottom-color: #e5660b;
}
.small-bar.colored-bar::before {
	background-color: #e5660b;
}
.note-separator.colored-separator {
	border-bottom-color: #e5660b;
}