/*	Theme's primary color: ROYAL BLUE

royal blue 1 -  #21354d / rgb(33, 53, 77)
royal blue 2 -  #184173 / rgb(24, 65, 115)
royal blue 3 -  #1f5494 / rgb(31, 84, 148)
royal blue 4 -  #62758c / rgb(98, 117, 140)
royal blue 5 -  #879ab0 / rgb(135, 154, 176)
royal blue 6 -  #b6c7db / rgb(182, 199, 219)
royal blue 7 -  #d4e7ff / rgb(212, 231, 255)
royal blue 8 -  #e1e9f2 / rgb(225, 233, 242)
royal blue 9 -  #f5f6f7 / rgb(245, 246, 247)
royal blue 10 - #009ccc / rgb(0, 156, 204)
*/


/*-----------------------------------------------------------------------------------*/
/*	Royal Blue 1 - #21354d / rgb(33, 53, 77)
/*-----------------------------------------------------------------------------------*/

/* Typography */
.text-secondary-color a:hover {
	color: #21354d;
}
a.text-black:hover {
	color: #21354d !important;
}
.stripe-secondary-color-bg .text-black a:hover {
	color: #21354d;
}
a.read-more-link.text-black:hover::after {
	color: #21354d;
}

/* Header Menu */
@media (min-width: 992px) {
	body.sticky-menu-active #header {
		background: rgba(33, 53, 77, 0.8); /* #21354d */
	}
}

/* Homepage Hero */
#home-slider .slide .button:not(.button-medium) {
	background-color: rgba(33, 53, 77, 0.7); /* #21354d */
}
#home-slider .slide .button:not(.button-medium):hover {
	background-color: rgba(33, 53, 77, 0.95); /* #21354d */
}

/* Hero Image & Page Title */
#hero-image.gradient-bg::before {
	background-color: #21354d;
}

/* Stripe Sections */
.stripe-primary-color-dark-bg > .stripe-upper-bg {
	background-color: #21354d;
}
.stripe-upper-bg-transparent > .stripe-upper-bg::before {
	background-color: #21354d;
}

/* Picture Boxes */
.picture-boxes.top-picture-box.box-filled-bg.picture-image .box-wrapper {
	-webkit-box-shadow: 0 1px 3px 0 rgba(33, 53, 77, 0.3);
			box-shadow: 0 1px 3px 0 rgba(33, 53, 77, 0.3); /* #21354d */
}
.picture-boxes.left-picture-box.box-filled-bg.picture-image .box-wrapper {
	-webkit-box-shadow: 0 0 40px -10px rgba(33, 53, 77, 0.2);
			box-shadow: 0 0 40px -10px rgba(33, 53, 77, 0.2); /* #21354d */
}

/* Info Box */
.info-box.shadow {
	-webkit-box-shadow: 0 1px 3px 0 rgba(33, 53, 77, 0.3);
			box-shadow: 0 1px 3px 0 rgba(33, 53, 77, 0.3); /* #21354d */
}

/* Testimonials */
.dark-colored-bg .testimonial-main-style-1 .testimonial-item .testimonial-image figure::after {
	background-color: rgba(33, 53, 77, 0.2); /* #21354d */
}

/* Staff */
.staff.picture-boxes.top-picture-box .box-image .image-overlay {
	background-color: rgba(33, 53, 77, 0.7); /* #21354d */
}

/* Tabs */
.tabs-full-width .tabs-nav .stripe-secondary-color-bg .tabs-list a {
	color: rgba(33, 53, 77, 0.8); /* #21354d */
}
.tabs-full-width .tabs-nav .stripe-secondary-color-bg .tabs-list a:hover {
	color: #21354d;
}

/* Stat Data */
.stat-data .fact-number {
	color: rgba(33, 53, 77, 0.8); /* #21354d */
}

/* Blog */
.blog-grid-layout article .post-content {
	-webkit-box-shadow: 0 1px 3px 0 rgba(33, 53, 77, 0.3);
			box-shadow: 0 1px 3px 0 rgba(33, 53, 77, 0.3); /* #21354d */
}

/* Standard Table */
.dark-colored-bg table th,
.dark-colored-bg table thead td {
	border-right-color: rgba(33, 53, 77, 0.6); /* #21354d */
}
.dark-colored-bg table td {
	border-color: rgba(33, 53, 77, 0.6); /* #21354d */
}

/* Pricing Table */
.pricing-table .features li[data-tooltip]:hover {
	color: #21354d;
}

/* Preview Image Overlay & Lightbox Overlay */
.image-overlay {
	background-color: rgba(33, 53, 77, 0.4); /* #21354d */
}

/* Contact Info & Google Map */
.contact-page .contact-info .tabs-content .title {
	color: #21354d;
}


/*-----------------------------------------------------------------------------------*/
/*	Royal Blue 2 - #184173 / rgb(24, 65, 115)
/*-----------------------------------------------------------------------------------*/

/* Typography */
.text-primary-color a:hover {
	color: #184173;
}

/* Buttons */
.button:hover,
input[type="submit"].button:hover,
input[type="reset"].button:hover,
input[type="button"].button:hover {
	background-color: #184173;
	border-color: #184173;
}

/* Header Menu */
#primary-nav > ul > li.button-item > a {
	color: #184173;
}
#primary-nav > ul > li.button-item > a:hover,
#primary-nav > ul > li.button-item.sfHover > a {
	color: #184173;
}

/* Stripe Sections */
.stripe-primary-color-bg > .stripe-upper-bg {
	background-color: #184173;
}

/* Icon Boxes */
.icon-boxes.top-icon-box.icon-large .box-icon.primary-color-dark i,
.icon-boxes.top-icon-box.icon-small .box-icon.primary-color-dark i,
.icon-boxes.top-icon-box.box-filled-bg .box-icon.primary-color-dark i {
	color: #184173;
}
.icon-boxes.left-icon-box.icon-large .box-icon.primary-color-dark i,
.icon-boxes.left-icon-box.icon-medium .box-icon.primary-color-dark i,
.icon-boxes.left-icon-box.icon-heading .box-icon.primary-color-dark i {
	color: #184173;
}


/*-----------------------------------------------------------------------------------*/
/*	Royal Blue 3 - #1f5494 / rgb(31, 84, 148)
/*-----------------------------------------------------------------------------------*/

/* Typography */
.text-primary-color {
	color: #1f5494 !important;
}
a:hover {
	color: #1f5494;
}
.text-black a:hover {
	color: #1f5494;
}
a.read-more-link:hover,
a.read-more-link:hover::after {
	color: #1f5494;
}

/* Buttons */
.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #1f5494;
	border-color: #1f5494;
}
.button.play-icon {
	color: #1f5494;
}
.button.play-icon::before {
	border-color: #1f5494;
}
.button.play-icon::after {
	border-left-color: #1f5494;
}
.button.play-icon:hover {
	color: #1f5494;
}
.button.play-icon:hover::before {
	background-color: #1f5494;
}

/* Stripe Sections */
@media (min-width: 992px) {
	.stripe-fullwidth-split-cols.stripe-primary-color-dark-bg .row {
		background: -webkit-linear-gradient(right, transparent 50%, #ccc 50%, #ccc calc( 50% + 2px), rgba(31, 84, 148, 0.4) calc( 50% + 2px));
		background: -o-linear-gradient(right, transparent 50%, #ccc 50%, #ccc calc( 50% + 2px), rgba(31, 84, 148, 0.4) calc( 50% + 2px));
		background: linear-gradient(to left, transparent 50%, #ccc 50%, #ccc calc( 50% + 2px), rgba(31, 84, 148, 0.4) calc( 50% + 2px)); /* #1f5494 */
	}
}
@media (max-width: 991px) {
	.stripe-fullwidth-split-cols.stripe-primary-color-dark-bg .columns:first-child {
		background-color: rgba(31, 84, 148, 0.4); /* #1f5494 */
	}
}

/* Icon Boxes */
.icon-boxes.top-icon-box.icon-large .box-icon.primary-color i,
.icon-boxes.top-icon-box.icon-small .box-icon.primary-color i,
.icon-boxes.top-icon-box.box-filled-bg .box-icon.primary-color i {
	color: #1f5494;
}
.icon-boxes.left-icon-box.icon-large .box-icon.primary-color i,
.icon-boxes.left-icon-box.icon-medium .box-icon.primary-color i,
.icon-boxes.left-icon-box.icon-heading .box-icon.primary-color i {
	color: #1f5494;
}

/* Accordion / Toggle */
.toggle-trigger:hover a {
	color: #1f5494;
}

/* Blog */
.blog-list-layout article .post-content .title a:hover {
	color: #1f5494;
}
.blog-grid-layout article .post-description .title a:hover {
	color: #1f5494;
}

/* Sidebar */
.widget-social-profiles .fa-icon-list li a {
	background-color: #1f5494;
}
#sidebar .widget-banner::before {
	background-color: #1f5494;
}
#sidebar .widget-banner.primary-color-bg::before {
	background-color: #1f5494;
}


/*-----------------------------------------------------------------------------------*/
/*	Royal Blue 4 - #62758c / rgb(98, 117, 140)
/*-----------------------------------------------------------------------------------*/

/* Typography */
.text-primary-color-muted {
	color: #62758c !important;
}
blockquote p {
	color: #62758c;
}
.text-blockquote {
	color: #62758c;
}

/* Header Menu */
#primary-nav ul ul li a {
	color: #62758c;
}
.sidr {
	background-color: #62758c;
}
.sidr .sidr-inner:first-child {
	background-color: #62758c;
}
.sidr .sidr-class-sf-mega-section {
	background-color: #62758c;
	border-top-color: #62758c;
}
.sidr .dropdown-toggle {
	background-color: #62758c;
}

/* Testimonials */
.testimonial-aside .testimonial-item blockquote p {
	color: #62758c;
}
.testimonial-main-style-1 .testimonial-slider .cycle-pager span.cycle-pager-active {
	background-color: #62758c;
	border-color: #62758c;
}
.dark-colored-bg .testimonial-main-style-1 .testimonial-slider .cycle-pager span {
	background-color: #62758c;
	border-color: #62758c;
}

/* Staff */
.staff.picture-boxes .box-text .sub {
	color: #62758c;
}
.staff .box-text .contact-phone .phone-number,
.staff .box-text .contact-email a {
	color: #62758c;
}
.staff-member-profile .contact-email a,
.staff-member-profile .contact-phone .phone-number,
.staff-member-profile .contact-skype {
	color: #62758c;
}
.mfp-content .staff-member-profile .fa-icon-list li .fa {
	color: #62758c;
}
.single-staff .staff-member-profile .fa-icon-list li .fa {
	color: #62758c;
}

/* Tabs */
.tabs .tabs-nav .tabs-list li.active a {
	color: #62758c;
}
.tabs-full-width .tabs-nav .tabs-list li.active a {
	color: #62758c;
}

/* Accordion / Toggle */
.toggle-trigger:hover::after {
	color: #62758c;
}

/* Blog */
.category-navigation li a {
	color: #62758c;
}

/* Pagination */
.post-pagination a {
	color: #62758c;
}

/* Single Post */
.single-post-details .post-tags .tagcloud a {
	color: #62758c;
}
#comments > .title:first-child {
	color: #62758c;
}
.comment-list .comment-meta .date a:hover,
.comment-list .comment-meta .date a:hover * {
	color: #62758c;
}

/* Standard Table */
table.standard-table.dark-bg-header th {
	background-color: #62758c;
	border-color: #62758c;
}
table.standard-table.dark-bg-header th:last-child {
	border-right-color: #62758c;
}

/* Pricing Table */
.pricing-table .description {
	color: #62758c;
}
.pricing-table .features li {
	color: #62758c;
}
.pricing-table .footer .button:not(.button-grey):not(.button-colored) {
	color: #62758c;
	border-color: #62758c;
}
.pricing-table .footer .button:not(.button-grey):not(.button-colored):hover {
	background-color: #62758c;
}

/* Preview Image Overlay & Lightbox Overlay */
.no-touch-screen .video-preview a.mfp-lightbox:hover .overlay {
	background-color: rgba(98, 117, 140, 0.3); /* #62758c */
}

/* Forms */
.comment-form input[type="submit"],
#page-content .contact-form input[type="submit"],
#main .subscription-form input[type="submit"] {
	background-color: #62758c;
}
.comment-respond .title {
	color: #62758c;
}

/* Contact Info & Google Map */
.contact-page .contact-info .contact-email a,
.contact-page .contact-info .contact-phone .phone-number,
.contact-page .contact-info .contact-skype {
	color: #62758c;
}

/* Sidebar */
@media (max-width: 991px) {
	.side-menu > li > a {
		color: #62758c;
	}
}
#sidebar .widget-text-block .button:not(.button-grey):not(.button-colored) {
	color: #62758c;
	border-color: #62758c;
}
#sidebar .widget-text-block .button:not(.button-grey):not(.button-colored):hover {
	background-color: #62758c;
}
#sidebar .widget-social-profiles .widget-title {
	color: #62758c;
}
#sidebar .widget-banner.primary-color-bg .banner-text .banner-description::before {
	background-color: rgba(98, 117, 140, 0.7); /* #62758c */
}
#sidebar .widget-stats .stat-data .fact-number {
	color: #62758c;
}
#sidebar .widget-tag-cloud a:hover {
	background-color: #62758c;
}

/* Footer */
#footer .phone-number {
	color: #62758c;
}
#footer .contact-email a {
	color: #62758c;
}
#footer .subscription-form input[type="submit"] {
	background: #62758c;
}
#footer .footer-menu a {
	color: #62758c;
}
#footer .recent-posts a {
	color: #62758c;
}
#footer-bottom .links a {
	color: #62758c;
}


/*-----------------------------------------------------------------------------------*/
/*	Royal Blue 5 - #879ab0 / rgb(135, 154, 176)
/*-----------------------------------------------------------------------------------*/

/* Typography */
.text-primary-color-pale {
	color: #879ab0 !important;
}
ol.custom-counter > li::before {
	color: #879ab0;
}

/* Forms */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
textarea,
select {
	border-color: #879ab0;
}
.select-wrapper::after {
	border-top-color: #879ab0;
}

/* Header Menu */
#primary-nav .sf-arrows ul .sf-with-ul::after {
	color: #879ab0;
}

/* Picture Boxes */
.picture-boxes.left-picture-box .box-text .sub {
	color: #879ab0;
}

/* Icon Boxes */
.icon-boxes.top-icon-box.icon-large-round-bg .box-icon.primary-color-bg,
.icon-boxes.top-icon-box.icon-medium-round-bg .box-icon.primary-color-bg {
	background-color: #879ab0;
}
.icon-boxes.top-icon-box.icon-medium-round-bg .box-icon {
	background-color: #879ab0;
}
.icon-boxes.top-icon-box.icon-large-round-bg.number-icon-box .box-icon .digit,
.icon-boxes.top-icon-box.icon-medium-round-bg.number-icon-box .box-icon .digit {
	background-color: #879ab0;
}
.icon-boxes.top-icon-box.icon-large .box-icon.primary-color-light i,
.icon-boxes.top-icon-box.icon-small .box-icon.primary-color-light i,
.icon-boxes.top-icon-box.box-filled-bg .box-icon.primary-color-light i {
	color: #879ab0;
}
.icon-boxes.left-icon-box.icon-small-round-bg .box-icon.primary-color-bg {
	background-color: #879ab0;
}
.icon-boxes.left-icon-box.icon-large .box-icon.primary-color-light i,
.icon-boxes.left-icon-box.icon-medium .box-icon.primary-color-light i,
.icon-boxes.left-icon-box.icon-heading .box-icon.primary-color-light i {
	color: #879ab0;
}

/* Stages */
.stages .box-icon {
	background-color: #879ab0;
}
.stages .box-icon.primary-color-bg {
	background-color: #879ab0;
}

/* Feature List */
.feature-list.numeric-list .box-icon.primary-color-bg {
	background-color: #879ab0;
}
.feature-list.dot-list .box-icon {
	background-color: #879ab0;
}
.feature-list.dot-list .box-icon.primary-color-bg {
	background-color: #879ab0;
}
.feature-list.check-list .box-icon.primary-color-bg {
	border-color: #879ab0;
}
.feature-list.check-list .box-icon.primary-color-bg i {
	color: #879ab0;
}
.feature-list.arrow-list .box-icon.primary-color i {
	color: #879ab0;
}

/* Carousel Plugin */
.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #879ab0;
}
.owl-carousel.owl-theme .owl-nav [class*='owl-']::before {
	color: #879ab0;
}
.dark-colored-bg .owl-carousel.owl-theme .owl-dots .owl-dot span {
	background-color: #879ab0;
}

/* Testimonials */
.testimonial-boxes .columns::before {
	border-color: rgba(135, 154, 176, 0.2); /* #879ab0 */
}
.testimonial-boxes .testimonial-image span {
	background-color: #879ab0;
}
.stripe-white-bg .testimonial-boxes .columns::after,
#page-content.sidebar-layout .testimonial-boxes .columns::after {
	color: rgba(135, 154, 176, 0.03); /* #879ab0 */
}
.testimonial-aside .testimonial-item .author-image span {
	background-color: #879ab0;
}
.testimonial-main-style-2 .testimonial-item .author-image span {
	background-color: #879ab0;
}
.testimonial-main-style-3 .testimonial-item .author-image span {
	background-color: #879ab0;
}
.testimonial-slider .cycle-pager span {
	border-color: #879ab0;
}
.testimonial-slider .cycle-pager span.cycle-pager-active {
	background-color: #879ab0;
}
.testimonial-main-style-1 .testimonial-slider .cycle-pager span {
	background-color: #879ab0;
}
.testimonial-slider .cycle-pager .fa { /* vector icons - Font Awesome */
	color: #879ab0;
}

/* Staff */
.staff-member-profile .profile-header .subtitle + p {
	color: #879ab0;
}
.staff-member-profile .contact-email a:hover,
.staff-member-profile .contact-phone .phone-number:hover {
	color: #879ab0;
}

/* Accordion / Toggle */
.toggle-trigger::after {
	color: #879ab0;
}
.accordion.numbered-items .toggle-trigger a:before,
.toggles.numbered-items .toggle-trigger a:before {
	color: #879ab0;
}

/* Stat Data */
.stat-data .fact-statement cite {
	color: #879ab0;
}

/* Blog */
.blog-list-layout article .post-date .day {
	color: #879ab0;
}
.blog-grid-layout article .post-meta {
	color: #879ab0;
}

/* Pagination */
.post-pagination span.current {
	background-color: #879ab0;
}

/* Single Post */
.fa-icon-list.social-share li a {
	border-color: rgba(135, 154, 176, 0.4); /* #879ab0 */
}
.comment-list .comment-meta .date a {
	color: #879ab0;
}

/* Standard Table */
[class$="-layout"] table th,
[class$="-layout"] table thead td {
	border-color: rgba(135, 154, 176, 0.4); /* #879ab0 */
	border-bottom-color: rgba(135, 154, 176, 0.8); /* #879ab0 */
	background-color: rgba(135, 154, 176, 0.15); /* #879ab0 */
}
[class$="-layout"] table td {
	border-color: rgba(135, 154, 176, 0.4); /* #879ab0 */
}
table.standard-table.first-col-bg td:first-child {
	background-color: rgba(135, 154, 176, 0.1); /* #879ab0 */
}
table.standard-table.dark-bg-header.first-col-bg th:first-child {
	border-color: rgba(135, 154, 176, 0.4); /* #879ab0 */
	border-right-color: #879ab0;
}
table.standard-table .footer-trim td {
	border-bottom-color: rgba(135, 154, 176, 0.8); /* #879ab0 */
}
.stripe-white-bg table.standard-table:not(.dark-bg-header) th,
#page-content.sidebar-layout table.standard-table:not(.dark-bg-header) th {
	background-color: rgba(135, 154, 176, 0.1); /* #879ab0 */
}

/* Pricing Table */
.pricing-table .header {
	border-top-color: rgba(135, 154, 176, 0.2); /* #879ab0 */
}
.pricing-table .table-column:first-child .header {
	border-left-color: rgba(135, 154, 176, 0.2); /* #879ab0 */
}
.pricing-table .table-column:last-child .header {
	border-right-color: rgba(135, 154, 176, 0.2); /* #879ab0 */
}
.pricing-table .price {
	background-color: rgba(135, 154, 176, 0.2); /* #879ab0 */
}
.pricing-table .table-column:first-child .features {
	border-left-color: rgba(135, 154, 176, 0.2); /* #879ab0 */
}
.pricing-table .table-column:last-child .features {
	border-right-color: rgba(135, 154, 176, 0.2); /* #879ab0 */
}
.pricing-table .footer {
	background-image: -webkit-linear-gradient(left, rgba(135, 154, 176, 0.2), rgba(135, 154, 176, 0.2));
	background-image: -o-linear-gradient(left, rgba(135, 154, 176, 0.2), rgba(135, 154, 176, 0.2));
	background-image: linear-gradient(to right, rgba(135, 154, 176, 0.2), rgba(135, 154, 176, 0.2)); /* #879ab0 */
}
.pricing-table .table-column.row-labels .footer {
	border-top-color: rgba(135, 154, 176, 0.2); /* #879ab0 */
}
@media (min-width: 480px) and (max-width: 767px) {
	.pricing-table.bUKSIC .table-column:nth-child(odd) .header,
	.pricing-table.bUKSIC .table-column:nth-child(odd) .features,
	.pricing-table.extended .table-column:nth-child(even) .header,
	.pricing-table.extended .table-column:nth-child(even) .features {
		border-left-color: rgba(135, 154, 176, 0.2); /* #879ab0 */
	}
	.pricing-table.bUKSIC .table-column:nth-child(even) .header,
	.pricing-table.bUKSIC .table-column:nth-child(even) .features,
	.pricing-table.extended .table-column:nth-child(odd) .header,
	.pricing-table.extended .table-column:nth-child(odd) .features {
		border-right-color: rgba(135, 154, 176, 0.2); /* #879ab0 */
	}
}
@media (max-width: 479px) {
	.pricing-table .table-column .header,
	.pricing-table .table-column .features {
		border-left-color: rgba(135, 154, 176, 0.2) !important; /* #879ab0 */
		border-right-color: rgba(135, 154, 176, 0.2) !important; /* #879ab0 */
	}
}

/* Forms */
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	border-color: rgba(135, 154, 176, 0.25); /* #879ab0 */
}
.comment-form textarea {
	border-color: rgba(135, 154, 176, 0.25); /* #879ab0 */
}
.comment-form input[type="text"]:focus,
.comment-form input[type="email"]:focus,
.comment-form input[type="url"]:focus,
.comment-form textarea:focus {
	border-color: rgba(135, 154, 176, 0.4); /* #879ab0 */
}
.comment-form ::-webkit-input-placeholder {
	color: #879ab0;
}
.comment-form :-moz-placeholder {
	color: #879ab0;
}
.comment-form ::-moz-placeholder {
	color: #879ab0;
}
.comment-form :-ms-input-placeholder {  
	color: #879ab0;
}
#main .subscription-form input[type="text"]:focus,
#main .subscription-form input[type="email"]:focus {
	border-bottom-color: #879ab0;
}

/* Sidebar */
#sidebar .widget-tag-cloud a {
	background-color: rgba(135, 154, 176, 0.15); /* #879ab0 */
}

/* Footer */
#footer .subscription-form input[type="text"]:focus,
#footer .subscription-form input[type="email"]:focus {
	border-bottom-color: #879ab0;
}
#footer-bottom .scroll-top:hover {
	background-color: #879ab0;
}


/*-----------------------------------------------------------------------------------*/
/*	Royal Blue 6 - #b6c7db / rgb(182, 199, 219)
/*-----------------------------------------------------------------------------------*/

/* Typography */
.text-primary-color-light {
	color: #b6c7db !important;
}
.quote-marks::before {
	color: rgba(182, 199, 219, 0.6); /* #b6c7db; */
}
.stripe-white-bg .quote-marks::before,
#page-content.sidebar-layout .quote-marks::before {
	color: rgba(182, 199, 219, 0.5); /* #b6c7db; */
}

/* Buttons */
.dark-colored-bg .button {
	background-color: rgba(182, 199, 219, 0.6); /* #b6c7db */
}
.dark-colored-bg .button:hover {
	background-color: rgba(182, 199, 219, 0.7); /* #b6c7db */
}
.dark-colored-bg .button.play-icon {
	color: #b6c7db;
}
.dark-colored-bg .button.play-icon::before {
	border-color: #b6c7db;
}
.dark-colored-bg .button.play-icon::after {
	border-left-color: #b6c7db;
}
.dark-colored-bg .button.play-icon:hover {
	color: #b6c7db;
}
.dark-colored-bg .button.play-icon:hover::before {
	background-color: #b6c7db;
}

/* Images */
.img-round.img-shadow {
	-webkit-box-shadow: -7px -6px 0 5px rgba(182, 199, 219, 0.7);
	        box-shadow: -7px -6px 0 5px rgba(182, 199, 219, 0.7); /* #b6c7db */
}

/* Header Menu */
#mobile-menu-close .fa { /* vector icons - Font Awesome */
	color: #b6c7db;
}

/* Homepage Hero */
#home-slider .slide .button.play-icon::before {
	border-color: #b6c7db;
}
#home-slider .slide .button.play-icon::after {
	border-left-color: #b6c7db;
}
#home-slider .slide .button.play-icon:hover::before {
	background-color: #b6c7db;
}

/* Hero Image & Page Title */
#hero-image.gradient-bg .page-title p {
	color: #b6c7db;
}
#hero-image .page-title .post-date {
	color: #b6c7db;
}

/* Picture Boxes */
.picture-boxes.top-picture-box.round-image img.img-shadow {
	-webkit-box-shadow: -7px -6px 0 5px rgba(182, 199, 219, 0.7);
	        box-shadow: -7px -6px 0 5px rgba(182, 199, 219, 0.7); /* #b6c7db */
}
.picture-boxes.top-picture-box.round-image .box-image a:hover img.img-shadow {
	-webkit-box-shadow: -7px -6px 0 5px #b6c7db;
	        box-shadow: -7px -6px 0 5px #b6c7db;
}

/* Icon Boxes */
.icon-boxes.top-icon-box.icon-large-round-bg .box-icon.primary-color-bg::before,
.icon-boxes.top-icon-box.icon-medium-round-bg .box-icon.primary-color-bg::before {
	border-color: rgba(182, 199, 219, 0.5); /* #b6c7db; */
}
.icon-boxes.top-icon-box.icon-medium-round-bg .box-icon::before {
	border-color: rgba(182, 199, 219, 0.5); /* #b6c7db; */
}

/* Stages */
.stages .box-icon::before {
	border-color: rgba(182, 199, 219, 0.5); /* #b6c7db; */
}
.stages .box-icon.primary-color-bg::before {
	border-color: rgba(182, 199, 219, 0.5); /* #b6c7db; */
}

/* Feature List */
.feature-list.dot-list > article::before {
	background-color: rgba(182, 199, 219, 0.25); /* #b6c7db */
}

/* Carousel Plugin */
.dark-colored-bg .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.dark-colored-bg .owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #b6c7db;
}

/* Testimonials */
.testimonial-main-style-3.top-icon-enabled .top-icon .fa { /* vector icons - Font Awesome */
	color: #b6c7db;
}
.dark-colored-bg .testimonial-main-style-3.top-icon-enabled .top-icon .fa {
	color: #b6c7db;
}
.dark-colored-bg .testimonial-main-style-3 .testimonial-item .testimonial-text p {
	color: #b6c7db;
}
.dark-colored-bg .testimonial-slider .cycle-pager span {
    border-color: #b6c7db;
}
.dark-colored-bg .testimonial-slider .cycle-pager span.cycle-pager-active {
	background-color: #b6c7db;
}
.dark-colored-bg .testimonial-slider .cycle-pager .fa {
	color: #b6c7db;
}
.dark-colored-bg .testimonial-main-style-1 .testimonial-slider .cycle-pager span.cycle-pager-active {
	background-color: #b6c7db;
	border-color: #b6c7db;
}

/* Staff */
.staff-member-profile .contact-email .fa { /* vector icons - Font Awesome */
	color: #b6c7db;
}
.staff-member-profile .contact-phone .fa {
	color: #b6c7db;
}
.staff-member-profile .contact-skype .fa {
	color: #b6c7db;
}

/* Tabs */
.dark-colored-bg .tabs .tabs-nav .tabs-list a {
    color: #b6c7db;
}
.tabs-full-width .tabs-nav .dark-colored-bg .tabs-list a {
	color: #b6c7db;
}

/* Stat Data */
.dark-colored-bg .stat-data .fact-statement cite {
	color: #b6c7db;
}

/* Single Post */
#comments > .title:first-child {
	border-bottom-color: #b6c7db;
}

/* Twitter Feed */
.dark-colored-bg .twitter-feed-wrapper .top-icon .fa {
	color: #b6c7db;
}
.dark-colored-bg .twitter-feed-wrapper .twitter-feed .tweet_time a {
	color: #b6c7db;
}

/* Standard Table */
table.standard-table.dark-bg-header th {
	border-right-color: #b6c7db;
}

/* Forms */
#main .subscription-form input[type="text"],
#main .subscription-form input[type="email"] {
	border-bottom-color: #b6c7db;
}

/* Contact Info & Google Map */
.contact-page .contact-info .contact-phone .fa {
	color: #b6c7db;
}
.contact-page .contact-info .contact-email .fa {
	color: #b6c7db;
}
.contact-page .contact-info .contact-skype .fa {
	color: #b6c7db;
}
.contact-page .contact-info .contact-location .fa {
	color: #b6c7db;
}
.contact-page .contact-info .contact-envelope .fa {
	color: #b6c7db;
}

/* Sidebar */
#sidebar .widget-stats .stat-data {
	background-color: #b6c7db;
}
#sidebar .widget-stats.primary-color-bg .stat-data {
	background-color: #b6c7db;
}

/* Footer */
#footer .subscription-form input[type="text"],
#footer .subscription-form input[type="email"] {
	border-bottom-color: #b6c7db;
	background-color: rgba(182, 199, 219, 0.15); /* #b6c7db */
}
#footer .subscription-form input[type="text"]:focus,
#footer .subscription-form input[type="email"]:focus {
	background-color: rgba(182, 199, 219, 0.18); /* #b6c7db */
}
#footer-bottom .scroll-top {
	background-color: #b6c7db;
}


/*-----------------------------------------------------------------------------------*/
/*	Royal Blue 7 - #d4e7ff / rgb(212, 231, 255)
/*-----------------------------------------------------------------------------------*/

/* Typography */
.text-primary-color-extralight {
	color: #d4e7ff !important;
}
.dark-colored-bg .pullquote blockquote cite a {
	color: #d4e7ff;
}
.text-white a:hover {
	color: #d4e7ff;
}
a.text-white:hover {
	color: #d4e7ff !important;
}
p.text-white a,
ul.text-white a,
ol.text-white a {
	color: #d4e7ff;
}
a.read-more-link.text-white:hover::after {
	color: #d4e7ff;
}

/* Header Menu */
#secondary-nav .quick-links .phone-number {
	color: #d4e7ff;
}

/* Homepage Hero */
#home-slider .slide .button:not(.button-medium):not(.play-icon)::after {
	border-left-color: #d4e7ff;
}
#home-slider .slide .button.button-medium {
	background-color: rgba(212, 231, 255, 0.2); /* #d4e7ff */
	border-color: #d4e7ff;
}
#home-slider .slide .button.button-medium {
	background-color: rgba(212, 231, 255, 0.2); /* #d4e7ff */
	border-color: #d4e7ff;
}
#home-slider .slide a:not(.button) {
	color: #d4e7ff;
}
#home-slider .slide a:not(.button)::before {
	border-bottom-color: #d4e7ff;
}

/* Hero Image & Page Title */
#hero-image.gradient-bg .page-title h1 {
	color: #d4e7ff;
}

/* Picture Boxes */
.dark-colored-bg .picture-boxes.top-picture-box .box-text .title a:hover {
	color: #d4e7ff;
}

/* Icon Boxes */
.dark-colored-bg .icon-boxes .box-text .title a:hover {
	color: #d4e7ff;
}

/* Testimonials */
.dark-colored-bg .testimonial-main-style-1 .testimonial-item .author-info span a:hover {
	color: #d4e7ff;
}
.dark-colored-bg .testimonial-main-style-2 .testimonial-item .author-info span a:hover {
	color: #d4e7ff;
}
.dark-colored-bg .testimonial-main-style-3 .testimonial-item .author-info span a:hover {
	color: #d4e7ff;
}

/* Tabs */
.dark-colored-bg .tabs .tabs-nav .tabs-list a:hover {
	color: #d4e7ff;
}
.dark-colored-bg .tabs .tabs-nav .tabs-list li.active a {
	color: #d4e7ff;
	border-bottom-color: #d4e7ff;
}
.tabs-full-width .tabs-nav .dark-colored-bg .tabs-list a:hover {
	color: #d4e7ff;
}
.tabs-full-width .tabs-nav .dark-colored-bg .tabs-list li.active a {
	color: #d4e7ff;
	border-bottom-color: #d4e7ff;
}

/* Stat Data */
.dark-colored-bg .stat-data .fact-statement cite a {
	color: #d4e7ff;
}

/* Twitter Feed */
.dark-colored-bg .twitter-feed-wrapper .twitter-feed .tweet_text a {
	color: #d4e7ff;
}


/*-----------------------------------------------------------------------------------*/
/*	Royal Blue 8 - #e1e9f2 / rgb(225, 233, 242)
/*-----------------------------------------------------------------------------------*/

/* Stripe Sections */
.stripe-primary-color-light-bg > .stripe-upper-bg {
	background-color: #e1e9f2;
}

/* Contact Info & Google Map */
.contact-page .contact-info .tabs-content {
	background-color: #e1e9f2;
}


/*-----------------------------------------------------------------------------------*/
/*	Royal Blue 9 - #f5f6f7 / rgb(245, 246, 247)
/*-----------------------------------------------------------------------------------*/

/* Document Setup */
body {
	background-color: #f5f6f7;
}

/* Stripe Sections */
#page-content > .stripe-transparent-bg:first-child {
	background-color: #f5f6f7;
}
#main-content.page-left-col .stripe-light-grey-bg > .stripe-upper-bg {
	background-color: #f5f6f7;
}
@media (min-width: 992px) {
	#main-content.page-left-col .stripe-light-grey-gradient-bg {
		background-color: #f5f6f7;
		background: -webkit-linear-gradient(right, rgba(245, 246, 247, 0), #f5f6f7 400px);
		background: -o-linear-gradient(right, rgba(245, 246, 247, 0), #f5f6f7 400px);
		background: linear-gradient(to left, rgba(245, 246, 247, 0), #f5f6f7 400px); /* #f5f6f7 */
	}
}
@media (max-width: 991px) {
	#main-content.page-left-col .stripe-light-grey-gradient-bg,
	#main-content.page-left-col .stripe-light-grey-bg {
		background-color: #f5f6f7;
	}
}

/* Info Box */
.info-box.info-sign::before,
.info-box.quote-sign::before {
	background-color: #f5f6f7;
}

/* Sidebar */
@media (max-width: 991px) {
	#page-content .stripe-white-bg .side-menu-widget,
	#page-content.sidebar-layout .side-menu-widget {
		background-color: #f5f6f7;
	}
}
@media (max-width: 991px) {
	#sidebar.sidebar-visible-sm-down::before {
		background-image: -webkit-linear-gradient(top, #f5f6f7 20px, rgba(245, 246, 247, 0));
		background-image: -o-linear-gradient(top, #f5f6f7 20px, rgba(245, 246, 247, 0));
		background-image: linear-gradient(to bottom, #f5f6f7 20px, rgba(245, 246, 247, 0)); /* #f5f6f7 */
	}
}


/*-----------------------------------------------------------------------------------*/
/*	Royal Blue 10 - #009ccc / rgb(0, 156, 204)
/*-----------------------------------------------------------------------------------*/

/* Typography */
a {
	color: #009ccc;
}
a.read-more-link::after {
	color: #009ccc;
}

/* Header Menu */
#primary-nav > ul > li > ul > li:first-child {
	border-top-color: #009ccc;
}
#primary-nav .sf-mega {
	border-top-color: #009ccc;
}

/* Picture Boxes */
.picture-boxes.top-picture-box.box-filled-bg .box-text .read-more-link {
	color: #009ccc;
}
.picture-boxes.left-picture-box.box-filled-bg.picture-icon .box-text .read-more-link {
	color: #009ccc;
}
.picture-boxes.left-picture-box.box-filled-bg.picture-image .box-text .read-more-link {
	color: #009ccc;
}
.picture-boxes.left-picture-box.box-filled-bg.picture-image .box-text .read-more-link::after {
	color: #009ccc;
}

/* Testimonials */
.dark-colored-bg .testimonial-main-style-2 .testimonial-item .author-image span {
	background-color: rgba(0, 156, 204, 0.5); /* #009ccc */
}
.stripe-secondary-color-bg .testimonial-main-style-2 .testimonial-item .author-image span {
	background-color: rgba(0, 156, 204, 0.7); /* #009ccc */
}
.stripe-secondary-color-bg .testimonial-main-style-3 .testimonial-item .author-image span {
	background-color: rgba(0, 156, 204, 0.7); /* #009ccc */
}


/*-----------------------------------------------------------------------------------*/
/*	Backgrounds
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1520px) {
	.img-step.img-dashed-curve-left::before,
	.img-step.img-dashed-curve-right::before {
		background-image: url(../../images/backgrounds/primary-color/royal-blue/dashed-curve-lg.svg); /* color 5 */
	}
	.stripe-box .col-sm-5 .img-step.img-dashed-curve-left::before,
	.stripe-box .col-sm-5 .img-step.img-dashed-curve-right::before,
	.stripe-box .col-sm-6 .img-step.img-dashed-curve-left::before,
	.stripe-box .col-sm-6 .img-step.img-dashed-curve-right::before {
		background-image: url(../../images/backgrounds/primary-color/royal-blue/dashed-curve-md.svg); /* color 5 */
	}
}
@media (min-width: 1200px) and (max-width: 1519px) {
	.img-step.img-dashed-curve-left::before,
	.img-step.img-dashed-curve-right::before {
		background-image: url(../../images/backgrounds/primary-color/royal-blue/dashed-curve-md.svg); /* color 5 */
	}
	.stripe-box .col-sm-5 .img-step.img-dashed-curve-left::before,
	.stripe-box .col-sm-5 .img-step.img-dashed-curve-right::before,
	.stripe-box .col-sm-6 .img-step.img-dashed-curve-left::before,
	.stripe-box .col-sm-6 .img-step.img-dashed-curve-right::before {
		background-image: url(../../images/backgrounds/primary-color/royal-blue/dashed-curve-sm.svg); /* color 5 */
	}
	.stripe-white-bg.stripe-fullwidth .img-step.img-dashed-curve-left::before,
	.stripe-white-bg.stripe-fullwidth .img-step.img-dashed-curve-right::before,
	.stripe-transparent-bg .img-step.img-dashed-curve-left::before,
	.stripe-transparent-bg .img-step.img-dashed-curve-right::before {
		background-image: url(../../images/backgrounds/primary-color/royal-blue/dashed-curve-lg.svg); /* color 5 */
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.img-step.img-dashed-curve-left::before,
	.img-step.img-dashed-curve-right::before {
		background-image: url(../../images/backgrounds/primary-color/royal-blue/dashed-curve-sm.svg); /* color 5 */
	}
	.stripe-white-bg.stripe-fullwidth .col-sm-4 .img-step.img-dashed-curve-left::before,
	.stripe-white-bg.stripe-fullwidth .col-sm-4 .img-step.img-dashed-curve-right::before,
	.stripe-transparent-bg .col-sm-4 .img-step.img-dashed-curve-left::before,
	.stripe-transparent-bg .col-sm-4 .img-step.img-dashed-curve-right::before {
		background-image: url(../../images/backgrounds/primary-color/royal-blue/dashed-curve-md.svg); /* color 5 */
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.img-step.img-dashed-curve-left::before,
	.img-step.img-dashed-curve-right::before {
		background-image: url(../../images/backgrounds/primary-color/royal-blue/dashed-curve-sm.svg); /* color 5 */
	}
}

@media (min-width: 768px) {
	.contact-page .contact-info.columns {
		background-image: url(../../images/backgrounds/primary-color/royal-blue/sidebar-bg.png); /* color 9 */
	}
}
@media (min-width: 992px) {
	#sidebar.page-right-col.columns {
		background-image: url(../../images/backgrounds/primary-color/royal-blue/sidebar-bg.png); /* color 9 */
	}
}

#hero-image.gradient-bg .slide {
	background-image: url(../../images/backgrounds/primary-color/royal-blue/stripe-default-bg-pattern.svg); /* color 6 */
}
.stripe-default-bg-pattern > .stripe-upper-bg {
	background-image: url(../../images/backgrounds/primary-color/royal-blue/stripe-default-bg-pattern.svg); /* color 6 */
}

.stripe-geometric-bg-left > .stripe-upper-bg {
	background-image: url(../../images/backgrounds/primary-color/royal-blue/geometric-bg-left.png); /* color 6 */
}
.stripe-geometric-bg-right > .stripe-upper-bg {
	background-image: url(../../images/backgrounds/primary-color/royal-blue/geometric-bg-right.png); /* color 6 */
}

.stripe-arrows-bg > .stripe-upper-bg {
	background-image: url(../../images/backgrounds/primary-color/royal-blue/arrows-up-bg.png); /* color 6 */
}
